{% extends 'SmsBundle::layout/layout.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="box gradient">
                {% if groups.getTotalItemCount < 1 %}
                    <div class="alert">{% trans %}There are no created groups{% endtrans %}. <a href="{{ path('_create_group') }}">{% trans %}Create new group{% endtrans %}</a></div>
                {% else %}
                    <div class="title">
                        <h4>
                            <span>{% trans %}Groups{% endtrans %}</span>
                        </h4>
                    </div>
                    <div class="content noPad clearfix">
                            <table cellpadding="0" cellspacing="0" border="0" class="dynamicTable display table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Name{% endtrans %}</th>
                                        <th>{% trans %}Description{% endtrans %}</th>
                                        <th>{% trans %}Action{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for group in groups %}
                                            <tr class="gradeA">
                                                <td>{{ group.name }}</td>
                                                <td>{{ group.description }}</td>
                                                <td><a href="{{ path('_edit_group', {'groupId': group.id}) }}">{% trans %}Edit{% endtrans %}</a></td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                                </tfoot>
                            </table>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="dataTables_info" id="DataTables_Table_0_info">
                                        {% trans %}Display{% endtrans %} {{ pageDataFrom }} {% trans %}to{% endtrans %} {{ pageDataTo }} {% trans %}of{% endtrans %} {{ groups.getTotalItemCount }} {% trans %}groups{% endtrans %}
                                    </div>
                                </div>
                                <div class="span6">
                                    {{ knp_pagination_render(groups) }}
                                </div>
                            </div>
                    </div>
                {% endif %}
            </div><!-- End .box -->
        </div><!-- End .span12 -->

    </div><!-- End .row-fluid -->

    {% javascripts
    'bundles/websms/plugins/tables/dataTables/jquery.dataTables.min.js'
    'bundles/websms/plugins/tables/dataTables/TableTools.min.js'
    'bundles/websms/plugins/tables/dataTables/ZeroClipboard.js'
    'bundles/websms/plugins/tables/responsive-tables/responsive-tables.js'
    'bundles/websms/js/datatable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

